proyectosWS/SOAP/ServiciosWS/wsdl/HolaServicio_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://curso/" xmlns:tns="http://curso/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hola" type="tns:hola"/>

  <xs:element name="holaResponse" type="tns:holaResponse"/>

  <xs:complexType name="hola">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

