proyectosWS/SOAP/TestPrimoWS/xml-resources/web-service-references/HolaServicio/wsdl/localhost_8080/cursows/HolaServicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://curso/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://curso/">

<xs:element name="esprimo" type="tns:esprimo"/>

<xs:element name="esprimoResponse" type="tns:esprimoResponse"/>

<xs:element name="hola" type="tns:hola"/>

<xs:element name="holaResponse" type="tns:holaResponse"/>

<xs:element name="info" type="tns:info"/>

<xs:element name="infoResponse" type="tns:infoResponse"/>

<xs:complexType name="hola">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="holaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="info">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="infoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esprimo">
<xs:sequence>
<xs:element name="numero" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="esprimoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>